            <!-- FOOTER -->
            <footer>
                <section class="main-footer" id="contactUs">
                    <article class="footer-phrase">
                        <p>
                            "Always go forward, never go backwards"
                        </p>
                    </article>
                    <article class="footer-info">
                        <h2>Info</h2>
                        <ul class="info-li">
                            <li>
                                <a href="#aboutUs">About</a>
                            </li>
                            <li>
                                <a href="www.google.com">Wholesalers</a>
                            </li>
                            <li>
                                <a href="https://www.google.com/maps/search/telecom/@-34.6155012,-58.433642,12z/data=!3m1!4b1">Branch Offices</a>
                            </li>
                            <li>
                                <a href="#">Frequent Questions</a>
                            </li>
                            <li>
                                <a href="#contactUs">Contact</a>
                            </li>
                        </ul>
                    </article>
                    <article class="footer-contact">
                        <h2>Contact</h2>
                        <ul class="contact-li">
                            <li>
                                <a href="#">119815213664</a>
                            </li>
                            <li>
                                <a href="https://www.google.com/maps/place/Telecom/@-34.6100053,-58.5931134,12z/data=!4m9!1m2!2m1!1stelecom!3m5!1s0x95bcca02cebf962d:0x3017c344505b62d5!8m2!3d-34.6100113!4d-58.4612683!15sCgd0ZWxlY29tIgOIAQGSASN0ZWxlY29tbXVuaWNhdGlvbnNfc2VydmljZV9wcm92aWRlcg">Office center</a>
                            </li>
                            <li>
                                <a href="www.gmail.com">cerotempo@gmail.com</a>
                            </li>
                            <li>
                                <a href="https://www.google.com/maps/place/Telecom/@-34.6100053,-58.5931134,12z/data=!4m9!1m2!2m1!1stelecom!3m5!1s0x95bcca02cebf962d:0x3017c344505b62d5!8m2!3d-34.6100113!4d-58.4612683!15sCgd0ZWxlY29tIgOIAQGSASN0ZWxlY29tbXVuaWNhdGlvbnNfc2VydmljZV9wcm92aWRlcg">Location</a>
                            </li>
                            <li>
                                <a href="www.facebook.com">Facebook</a>
                            </li>
                        </ul>
                    </article>
                </section>
                <p id="copyright"> Copyright © 2022 All Rights Reserved by CeroTempo</p>
            </footer>