<header class="main-header" id="headerpush">
    <nav class="header-nav">
        <div class="header-nav-intro">
            <i class="fa-solid fa-bars"></i>
            <a href="/">
                <img src="/images/logo.png" alt="logo" class="header-logo">
            </a>
            <div class="header-search-desktop">
                <input type="text" placeholder="What are you looking for?">              
                <button class="header-search-btn">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>  
            </div>
            <div class="header-icons">   
                <span>
                    <a href="panel">
                        <p>Admin</p>
                    </a>
                    <i class="fa-solid fa-circle-exclamation"></i>
                </span>                     
                <span>
                    <a href="#contactUs">
                        <p>Help</p>
                    </a>                        
                    <i class="fa-brands fa-whatsapp"></i>
                </span>
                <span>
                    <a href="products/productCart">
                        <p>Shopping Cart</p>
                    </a>
                    <i class="fa-solid fa-cart-shopping"></i>
                </span>
                <span>
                    <a href="users/register">
                        <p>Account</p>
                    </a>
                    <i class="fa-solid fa-user"></i>
                </span>
            </div>
        </div>
        <!-- MENU -->
        <nav class="nav-menu">
            <ul class="menu-horizontal">
                <li><a href="/">Home</a></li>
                <li><a href="#aboutUs">About us</a></li>
                <li>
                    <a href="#">Products</a>
                    <ul class="menu-vertical">
                        <li><a href="products/productMain">See All</a></li>
                        <li><a href="/products/productDetail">Guitars</a></li>
                        <li><a href="/products/productDetail">Basses</a></li>
                        <li><a href="/products/productDetail">Pianos</a></li>
                        <li><a href="/products/productDetail">Keyboards</a></li>
                        <li><a href="/products/productDetail">Drums</a></li>
                        <li><a href="/products/productDetail">Violins</a></li>
                        <li><a href="/products/productDetail">Cellos</a></li>
                        <li><a href="/products/productDetail">Violas</a></li>
                        <li><a href="/products/productDetail">Electronics</a></li>
                        <li><a href="/products/productDetail">Cables</a></li>
                        <li><a href="/products/productDetail">Others</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Courses</a>
                    <ul class="menu-vertical">
                        <li><a href="/courses">Guitar lessons</a></li>
                        <li><a href="/courses">Violin lessons</a></li>
                        <li><a href="/courses">Cello lessons</a></li>
                        <li><a href="/courses">Piano lessons</a></li>
                    </ul>
                </li>
                <li><a href="/luthiers">Luthier</a></li>
                <li><a href="#contactUs">Contact</a></li>
            </ul>
        </nav>
                        
        <div class="header-search">
            <input type="text" placeholder="What are you looking for?" autofocus> 
            <button class="header-search-btn">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>            
        </div>
    </nav>
</header>