<!-- OFERTAS -->
<section class="main-offers">
    <div class="offers-arrow">
        <i class="fas fa-arrow-left"></i>
    </div>
    <article class="offers-1">
        <a href="/products/productDetail">
            <p>See Offer</p>
            <img src="/images/instrumentos/Guitarras/06/125.jpg" alt="">
        </a>
        <div class="foot-offers"> 
            <h4 id="title-offers">Guitarra Electrica Fender 20</h4>
            <div class="offers-data">
                <p id="price">$70.500</p>    
                <p id="discount">10% off</p>   
            </div>
        </div>
    </article>
    <article class="offers-2">
        <a href="/products/productDetail">
            <p>See Offer</p>
            <img src="/images/instrumentos/Cello/01/069.jpg" alt="">
        </a>
        <div class="foot-offers"> 
            <h4 id="title-offers">Ancona 610 Macizo</h4>
            <div class="offers-data">
                <p id="price">$120.000</p>    
                <p id="discount">30% off</p>   
            </div>
        </div>
    </article>
    <article class="offers-3">
        <a href="/products/productDetail">
            <p>See Offer</p>
            <img src="/images/instrumentos/Parlantes/133.jpg" alt="">
        </a>
        <div class="foot-offers"> 
            <h4 id="title-offers">Parlante stereo PH-300 version 2021</h4>
            <div class="offers-data">
                <p id="price">$1.000.000</p>    
                <p id="discount">99% off</p>   
            </div>
        </div>
    </article>
    <div class="offers-arrow">
        <i class="fas fa-arrow-right"></i>
    </div>
</section>