<!-- OFERTAS -->
<section class="main-offers">
    <div class="offers-arrow">
        <i class="fas fa-arrow-left"></i>
    </div>
<!--  listProduct.forEach(product => {   -->
    <!--  if (product.discount >= 20) {  -->
    <article class="offers-1">
        <a href="/products/productDetail">
            <p>See Offer</p>
            <img src="/images/instrumentos/<%= listProduct.image %>" alt="">
        </a>
        <div class="foot-offers"> 
            <h4 id="title-offers"><%= listProduct.name %></h4>
            <div class="offers-data">
                <p id="price">$<%= listProduct.price %></p>    
                <p id="discount"><%= listProduct.discount %>% off</p>   
            </div>
        </div>
    </article>
    <!--  }  -->
     <!-- })  -->
    <div class="offers-arrow">
        <i class="fas fa-arrow-right"></i>
    </div>
</section>