<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h2></h2>
        <img src="/images/photoCourse.jfif" alt="" style="width: 250px; height: 250px;">
        <p>Teacher: NN</p>
        <p>Guitarr</p>
        <p>tel: 150000000</p>
    </div>
    <div>
        <h2></h2>
        <img src="/images/photoCourse.jfif" alt="" style="width: 250px; height: 250px;">
        <p>Teacher: NN</p>
        <p>Cello</p>
        <p>tel: 150000000</p>
    </div>
    <div>
        <h2></h2>
        <img src="/images/photoCourse.jfif" alt="" style="width: 250px; height: 250px;">
        <p>Teacher: NN</p>
        <p>Drum</p>
        <p>tel: 150000000</p>
    </div>
</body>
</html>