<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Home CeroTempo</title>
</head>
    <body>
        <header>
            <nav class="header-nav">
                <div class="header-nav-intro">
                    <i class="fa-solid fa-bars"></i>
                    <img src="/images/logo.png" alt="logo" class="header-logo">
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="header-nav-search">
                    <input type="text" placeholder="What are you looking for?">              
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </nav>
        </header>
    </body>
</html>