<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Home CeroTempo</title>
</head>
<body>
    <header>
        <nav class="header-nav">
            <div class="header-nav-intro">
                <i class="fa-solid fa-bars"></i>
                <img src="/images/logo.png" alt="logo" class="header-logo">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="header-nav-search">
                <input type="text" placeholder="What are you looking for?">              
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </nav>
    </header>
    <main>
        <section>
            <nav class="slider-container">
                <ul class="slider-banner">
                    <li id="slide1">
                        <img src="/images/productos.png" alt="banner">
                    </li>
                    <li id="slide2">
                        <img src="/images/producto.png" alt="banner">
                    </li>
                    <li id="slide3">
                        <img src="/images/clases.png" alt="banner">
                    </li>
                </ul>
                <ul class="menu-slider">
                    <li>
                        <a href="#slide1">1</a>
                    </li>
                    <li>
                        <a href="#slide2">2</a>
                    </li>
                    <li>
                        <a href="#slide3">3</a>
                    </li>
                </ul>
            </nav>
        </section>

        <section> 
            <article class="cover-2">
                <img src="/images/logoSolo.png" alt="">
                <h2>Empresa número uno en la industra de la música</h2>
            </article>
            <article class="brand">
                <div class="brand-1">
                    <h2>Fender</h2>
                </div>
                <div class="brand-2">
                    <h2>Cremona</h2>
                </div>
                <div class="brand-3">
                    <h2>Yamaha</h2>
                </div>
                <div class="brand-4">
                    <h2>Mapex</h2>
                </div>
            </article>
        </section>
        
        <section>
            <article class="intro-video">
                <video width="1080" height="1024" autoplay muted>
                    <source src="/images/video-music.mp4" type="video/mp4">
                </video>
            </article>
        </section>

        <section class="offers">
            <h2>Ofertas</h2>
            <article class="offers-1">
                <img src="/images/instrumentos/Guitarras/06/125.jpg" alt="">
                <div class="foot-offers"> 
                    <h4 id="titulo-oferta">Guitarra Electrica Fender 20</h4>
                    <div class="offers-data">
                        <p id="price">$70.500</p>    
                        <p id="discount">10% off</p>   
                    </div>
                </div>
            </article>
            <article class="offers-2">
                <img src="/images/instrumentos/Cello/01/069.jpg" alt="">
                <div class="foot-offers"> 
                    <h4 id="title-offers">Ancona 610 Macizo</h4>
                    <div class="offers-data">
                        <p id="price">$120.000</p>    
                        <p id="discount">30% off</p>   
                    </div>
                </div>
            </article>
            <article class="offers-3">
                <img src="/images/instrumentos/Parlantes/133.jpg" alt="">
                <div class="foot-offers"> 
                    <h4 id="title-offers">Parlante stereo PH-300</h4>
                    <div class="offers-data">
                        <p id="price">$35.200</p>    
                        <p id="discount">20% off</p>   
                    </div>
                </div>
            </article>
        </section>

    </main>
</body>
<!--    
    Medidas predeterminadas en ancho o width

Mobile-Small: 320px
Mobile-Medium: 375px
Mobile-Large: 425px

Tablet - L : 768px
Tablet - S : 545px

Laptop: 1024px
Desktop: 1440px
4k o televisores: 2560px

-->

</html>