<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Luthier</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio perferendis nemo iure non numquam dolorem, praesentium labore architecto ratione earum expedita veritatis aliquid doloribus? Inventore accusantium nostrum autem modi quidem?
        Accusamus adipisci iure similique, facilis reprehenderit autem aut quidem corporis magnam quam labore, eius, veritatis quaerat placeat ducimus voluptatibus. Nam nemo odit rerum voluptatem consequuntur ipsa vero magnam perspiciatis eius?
    </p>
    <img src="/images/categories/guitarra.jpg" alt="" style="width: 600px; height: 400px;">

</body>

</html>