<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/5bbec2626f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Product Cart</title>
  </head>
  <body>
    <header class="main-header" id="headerpush">
      <nav class="header-nav">
          <div class="header-nav-intro">
              <i class="fa-solid fa-bars"></i>
              <img src="/images/logo.png" alt="logo" class="header-logo">
              <div class="header-search-desktop">
                  <input type="text" placeholder="What are you looking for?">              
                  <button class="header-search-btn">
                      <i class="fa-solid fa-magnifying-glass"></i>
                  </button>  
              </div>
              <div class="header-icons">                        
                  <span>
                      <a href="#contactUs">
                          <p>Help</p>
                      </a>                        
                      <i class="fa-brands fa-whatsapp"></i>
                  </span>
                  <span>
                      <a href="/productCart">
                          <p>Shopping Cart</p>
                      </a>
                      <i class="fa-solid fa-cart-shopping"></i>
                  </span>
                  <span>
                      <a href="register">
                          <p>Account</p>
                      </a>
                      <i class="fa-solid fa-user"></i>
                  </span>
              </div>
          </div>
          <!-- MENU -->
          <nav class="nav-menu">
              <ul class="menu-horizontal">
                  <li><a href="/">Home</a></li>
                  <li><a href="#aboutUs">About us</a></li>
                  <li>
                      <a href="#">Products</a>
                      <ul class="menu-vertical">
                          <li><a href="productDetail">Guitars</a></li>
                          <li><a href="productDetail">Basses</a></li>
                          <li><a href="productDetail">Pianos</a></li>
                          <li><a href="productDetail">Keyboards</a></li>
                          <li><a href="productDetail">Drums</a></li>
                          <li><a href="productDetail">Violins</a></li>
                          <li><a href="productDetail">Cellos</a></li>
                          <li><a href="productDetail">Violas</a></li>
                          <li><a href="productDetail">Electronics</a></li>
                          <li><a href="productDetail">Cables</a></li>
                          <li><a href="productDetail">Others</a></li>
                      </ul>
                  </li>
                  <li>
                      <a href="#">Courses</a>
                      <ul class="menu-vertical">
                          <li><a href="courses">Guitar lessons</a></li>
                          <li><a href="courses">Violin lessons</a></li>
                          <li><a href="courses">Cello lessons</a></li>
                          <li><a href="courses">Piano lessons</a></li>
                      </ul>
                  </li>
                  <li><a href="luthiers">Luthier</a></li>
                  <li><a href="#contactUs">Contact</a></li>
              </ul>
          </nav>
                          
          <div class="header-search">
              <input type="text" placeholder="What are you looking for?"> 
              <button class="header-search-btn">
                  <i class="fa-solid fa-magnifying-glass"></i>
              </button>            
          </div>
      </nav>
   </header>
    <main>
      <div class="main__title">
        <h1>Mi carrito</h1>
        <h2>Productos: 999</h2>
      </div>
      <section class="main__direction">
        <div class="main__direction__title">
          <h3>Direccion de entrega</h3>
          <a href="">Otra direccion</a>
        </div>
        <div class="main__direction__description">
          <p>Avenida Siempreviva 742</p>
          <p>C.P. 4600 - San Salvador de Jujuy, Jujuy</p>
          <p>Cosme Fulanito - Telefono: 555-2633</p>
        </div>
      </section>

      <div class="pc__main">
        <div class="main__desktopL">
          <section class="detail">
            <article class="product">
              <div class="main__image">
                <img src="/images/instrumentos/Guitarras/01/093.jpg" alt="" width="100%" />
                <!-- <a href=""></a> -->
              </div>
              <div class="main__product">
                <div class="main__product__title">
                  <h4>Marca de Producto</h4>
                  <h4>Modelo de Producto</h4>
                </div>
                <div class="main__product__detail">
                  <h4>Precio</h4>
                  <div>
                    <button>
                      <i class="fa-solid fa-trash-can"></i>
                    </button>
                  </div>
                  <div class="ordenar">
                    <div>
                      <button>
                        <i class="fa-solid fa-circle-minus"></i>
                      </button>
                    </div>
                    <h4>01</h4>
                    <div>
                      <button>
                        <i class="fa-solid fa-circle-plus"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </section>

          <section class="detail">
            <article class="product">
              <div class="main__image">
                <img src="/images/instrumentos/Guitarras/01/093.jpg" alt="" width="100%" />
                <!-- <a href=""></a> -->
              </div>
              <div class="main__product">
                <div class="main__product__title">
                  <h4>Marca de Producto</h4>
                  <h4>Modelo de Producto</h4>
                </div>
                <div class="main__product__detail">
                  <h4>Precio</h4>
                  <div>
                    <button>
                      <i class="fa-solid fa-trash-can"></i>
                    </button>
                  </div>
                  <div class="ordenar">
                    <div>
                      <button>
                        <i class="fa-solid fa-circle-minus"></i>
                      </button>
                    </div>
                    <h4>01</h4>
                    <div>
                      <button>
                        <i class="fa-solid fa-circle-plus"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </section>

          <section class="detail">
            <article class="product">
              <div class="main__image">
                <img src="/images/instrumentos/Guitarras/01/093.jpg" alt="" width="100%" />
                <!-- <a href=""></a> -->
              </div>
              <div class="main__product">
                <div class="main__product__title">
                  <h4>Marca de Producto</h4>
                  <h4>Modelo de Producto</h4>
                </div>
                <div class="main__product__detail">
                  <h4>Precio</h4>
                  <div>
                    <button>
                      <i class="fa-solid fa-trash-can"></i>
                    </button>
                  </div>
                  <div class="ordenar">
                    <div>
                      <button>
                        <i class="fa-solid fa-circle-minus"></i>
                      </button>
                    </div>
                    <h4>01</h4>
                    <div>
                      <button>
                        <i class="fa-solid fa-circle-plus"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </section>
        </div>

        <div class="main__desktopR">
          <section class="main__payment">
            <div class="main__payment__title">
              <h3>Medio de pago</h3>
              <a href="">Cambiar</a>
            </div>
            <div class="main__payment__description">
              <p>Tarjeta **** **** **** 6633</p>
            </div>
          </section>

          <section class="main__descuento">
            <h4>Cupon de descuento</h4>
            <div class="main__descuento__cupon">
              <input type="text" placeholder="Ingrese su cupon" />
            </div>
          </section>

          <section class="main__priceTotal">
            <div class="main__priceTotal__line">
              <h4>Subtotal</h4>
              <h4>999999.99</h4>
            </div>
            <div class="main__priceTotal__line">
              <h4>Envio</h4>
              <h4>999999.99</h4>
            </div>
            <div class="main__priceTotal__line">
              <h4>Descuento</h4>
              <h4>999999.99</h4>
            </div>
            <div class="main__priceTotal__line">
              <h4>Total</h4>
              <h4>999999.99</h4>
            </div>
          </section>

          <div class="main__confirmation">
            <button>Finalizar Compra</button>
          </div>
        </div>
      </div>
    </main>

    <!-- FOOTER -->
    <footer>
      <section class="main-footer">
          <article class="footer-phrase">
              <p>
                  "Always go forward, never go backwards"
              </p>
          </article>
          <article class="footer-info">
              <h2>Info</h2>
              <ul class="info-li">
                  <li>
                      <a href="#">About</a>
                  </li>
                  <li>
                      <a href="#">Wholesalers</a>
                  </li>
                  <li>
                      <a href="#">Branch Offices</a>
                  </li>
                  <li>
                      <a href="#">Frequent Questions</a>
                  </li>
                  <li>
                      <a href="#">Contact</a>
                  </li>
              </ul>
          </article>
          <article class="footer-contact">
              <h2>Contact</h2>
              <ul class="contact-li">
                  <li>
                      <a href="#">119815213664</a>
                  </li>
                  <li>
                      <a href="#">Sarasa Branch</a>
                  </li>
                  <li>
                      <a href="#">cerotempo@gmail.com</a>
                  </li>
                  <li>
                      <a href="#">Location</a>
                  </li>
                  <li>
                      <a href="#">Facebook</a>
                  </li>
              </ul>
          </article>
      </section>
      <p id="copyright"> Copyright © 2022 All Rights Reserved by CeroTempo</p>
  </footer>
  </body>
</html>
