<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <title>Product Detail</title>
    </head>
    <body>
        <header class="main-header">
            <nav class="header-nav">
                <div class="header-nav-intro">
                    <i class="fa-solid fa-bars"></i>
                    <img src="/images/logo.png" alt="logo" class="header-logo">
                    <div class="header-search-desktop">
                        <input type="text" placeholder="What are you looking for?">              
                        <button class="header-search-btn">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>  
                    </div>
                    <div class="header-icons">
                        <span>
                            <p>Help</p>
                            <i class="fa-brands fa-whatsapp"></i>
                        </span>
                        <span>
                            <p>Shopping Cart</p>
                            <i class="fa-solid fa-cart-shopping"></i>
                        </span>
                        <span>
                            <p>Account</p>
                            <i class="fa-solid fa-user"></i>
                        </span>
                    </div>
                </div>
            </nav>
        </header>
        <!-- ************** SECCION DETALLE DEL PRODUCTO ************** -->
        <div class="detail-div">
            <!-- ************** INTRO AL PRODUCTO ************** -->
            <div class="intro-product">
                <div class="product-name">
                    <p class="name">
                        Kawai RX-5 Acoustic Grand Piano Polished Black
                    </p>
                </div>
                <div class="product-photo">
                    <img src="/images/instrumentos/piano-1/138.jpg" alt="piano-1" class="piano-1">
                </div>
                <div class="product-price">
                    <p class="price">
                        $ 1.180.000
                    </p>
                </div>
            </div>
            <!-- ************** TRES BOTONES ************** -->
            <div class="input-three">
                <div class="product-quantity">
                    <button type="button" class="product-quantity-i">Quantity 1</button>
                </div>
                <div class="buy-now">
                    <button type="button" class="buy-now-i">Buy now</button>
                </div>
                <div class="add-cart">
                    <button type="button" class="add-cart-i">Add to cart</button>
                </div>
            </div>
            <!-- ************** CARACTERISTICAS ************** --> 
            <div class="product-characteristics">
                <div class="characteristic-div1">
                    <p class="characteristic-p1">
                        Characteristic
                    </p>
                </div>
                <div class="characteristic-div2">
                    <p class="characteristic-p2">
                        Resplendent tone and great power.
                        Made in Japan.
                        Weight: 351kg.
                        Dimensions: 200x153x102cm.
                        Action Kawai Millennium Ultra Responsive Action Soundboard.
                        solid fir
                        Soft, full sustain and sustain pedals.
                        Ebony Polish finishes.
                        Dimensions 197 x 153 x 102 cm
                        Weight 342 kg.
                    </p>
                </div>
            </div>
            <!-- ************** DESCRIPCION ************** --> 
            <div class="product-description">
                <div class="description-div1">
                    <p class="description-p1">
                        Description
                    </p>
                </div>
                <div class="description-div2">
                    <p class="description-p2">
                        For over 85 years, KAWAI has been the architect of the modern piano, not only for the ideas but for the state-of-the-art materials that revolutionized piano making.
                        Today we can affirm that nine decades of experience and tradition gave rise to the excellent sound and pulsation. All this would be impossible to preserve and maintain for tomorrow without the renowned technology that characterizes KAWAI.
                        This innovative spirit is the essence and the main reason KAWAI keeps a generation ahead in delivering outstanding and enduring performance.
                        The GL series of grand pianos possess all the essential qualities that have made KAWAI pianos the favorite choice of pianists and teachers for generations.
                    </p>
                </div>
            </div>
            <!-- ************** METODOS DE PAGO ************** -->    
            <div class="payment-methods">
                <div class="payment-methods-div">
                    <p class="payment-methods-p">
                        Payment Methods
                    </p>
                </div>    
                <div class="credit-div">
                    <p class="credit-p">
                        Credit cards
                    </p>
                    <img src="/images/icons-m/visa-m.png" alt="">
                    <img src="/images/icons-m/master-m.png" alt="">
                    <img src="/images/icons-m/naranja-m.png" alt="">
                </div>
                <div class="debit-div">
                    <p class="debit-p">
                        Debit cards
                    </p>
                    <img src="/images/icons-m/visad-m.png" alt="">
                    <img src="/images/icons-m/masterd-m.png" alt="">
                    <img src="/images/icons-m/cabal-m.png" alt="">
    
                </div>
                <div class="cash-div">
                    <p class="cash-p">
                        Cash 
                    </p>
                    <img src="/images/icons-m/rapi-m.png" alt="">
                    <img src="/images/icons-m/pago-m.png" alt="">
                </div>
            </div>
            <!-- ************** RECOMENDADOS ************** -->
            <div class="contenedor">
                <div class="titulo">
                    <div class="shape-right-skew">
                        <h2><p class="a-datos"> Recommended</p></h2>
                    </div>
                </div>
                <div class="slider-carousel">
                    <div class="producto-item">
                        <div class="contenedor-imagen">
                            <a href="#" class="link"></a>
                            <img src="images/instrumentos/Amplificador/01/017.png">
                            <img src="images/instrumentos/Amplificador/01/018.png" class="img-hover">
                        </div>
                        <div class="datos">
                            <div class="starrr"></div>
                            <h3><a href="#" class="a-datos">Electric guitar amplifier</a></h3>
                            
                        </div>
                        <div class="precios">
                            <div>
                                <span>$ 9.800</span>
                            </div>
                        </div>
                        <a href="#" class="btn-carrito"><i class="fas fa-shopping-basket"></i> Agregar al carrito</a>
                    </div>
                    <div class="producto-item">
                        <div class="contenedor-imagen">
                            <a href="#" class="link"></a>
                            <img src="images/instrumentos/Contrabajo/02/086.jpg">
                            <img src="images/instrumentos/Contrabajo/02/088.jpg" class="img-hover">
                        </div>
                        <div class="datos">
                            <div class="starrr"></div>
                            <h3><a href="#" class="a-datos">Maple Plywood Double Bass</a></h3>
                            
                        </div>
                        <div class="precios">
                            <div>
                                <span>$ 154.000</span>
                            </div>
                        </div>
                        <a href="#" class="btn-carrito"><i class="fas fa-shopping-basket"></i> Agregar al carrito</a>
                    </div>
                    <div class="producto-item">
                        <div class="contenedor-imagen">
                            <a href="#" class="link"></a>
                            <img src="images/instrumentos/teclado-2/174.jpg">
                            <img src="images/instrumentos/teclado-2/176.jpg" class="img-hover">
                        </div>
                        <div class="datos">
                            <div class="starrr"></div>
                            <h3><a href="#" class="a-datos">Controller 37 Keys Guitar Type</a></h3>
                            
                        </div>
                        <div class="precios">
                            <div>
                                <span>$ 79.999</span>
                            </div>
                        </div>
                        <a href="#" class="btn-carrito"><i class="fas fa-shopping-basket"></i> Agregar al carrito</a>
                    </div>
                    <div class="producto-item">
                        <div class="contenedor-imagen">
                            <a href="#" class="link"></a>
                            <img src="images/instrumentos/Bajos/01/036.jpg">
                            <img src="images/instrumentos/Bajos/01/037.jpg" class="img-hover">
                        </div>
                        <div class="datos">
                            <div class="starrr"></div>
                            <h3><a href="#" class="a-datos">Electric bass with 5 strings</a></h3>
                            
                        </div>
                        <div class="precios">
                            <div>
                                <span>$ 50.000</span>
                            </div>
                        </div>
                        <a href="#" class="btn-carrito"><i class="fas fa-shopping-basket"></i> Agregar al carrito</a>
                    </div>
                    <div class="producto-item">
                        <div class="contenedor-imagen">
                            <a href="#" class="link"></a>
                            <img src="images/instrumentos/Violin/01/195.jpg">
                            <img src="images/instrumentos/Violin/01/197.jpg" class="img-hover">
                        </div>
                        <div class="datos">
                            <div class="starrr"></div>
                            <h3><a href="#" class="a-datos">Handmade german violin</a></h3>
                        </div>
                        <div class="precios">
                            <div>
                                <span>$ 110.500</span>
                            </div>
                        </div>
                        <a href="#" class="btn-carrito"><i class="fas fa-shopping-basket"></i> Agregar al carrito</a>
                    </div>
                    <div class="producto-item">
                        <div class="contenedor-imagen">
                            <a href="#" class="link"></a>
                            <img src="images/instrumentos/teclado-1/167.png">
                            <img src="images/instrumentos/teclado-1/169.png" class="img-hover">
                        </div>
                        <div class="datos">
                            <div class="starrr"></div>
                            <h3><a href="#" class="a-datos">Piano electronic digital keyboard</a></h3>
                        </div>
                        <div class="precios">
                            <div>
                                <span>$ 67.700</span>
                            </div>
                        </div>
                        <a href="#" class="btn-carrito"><i class="fas fa-shopping-basket"></i> Agregar al carrito</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <footer>
        <section class="main-footer">
            <article class="footer-phrase">
                <h1>
                    Always go forward, never go backwards.
                </h1>
            </article>
            <article class="footer-info">
                <h2>Info</h2>
                <ul class="info-li">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Wholesalers</a>
                    </li>
                    <li>
                        <a href="#">Branch Offices</a>
                    </li>
                    <li>
                        <a href="#">Frequent Questions</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </article>
            <article class="footer-contact">
                <h2>Contact</h2>
                <ul class="contact-li">
                    <li>
                        <a href="#">119815213664</a>
                    </li>
                    <li>
                        <a href="#">Sarasa Branch</a>
                    </li>
                    <li>
                        <a href="#">cerotempo@gmail.com</a>
                    </li>
                    <li>
                        <a href="#">Location</a>
                    </li>
                    <li>
                        <a href="#">Facebook</a>
                    </li>
                </ul>
            </article>
        </section>
        <p id="copyright"> Copyright © 2022 All Rights Reserved by CeroTempo</p>
    </footer>
</html>