<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Cart</title>
    <script src="https://kit.fontawesome.com/5bbec2626f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <!-- <header>
      <nav class="header-nav">
        <div class="header-nav-intro">
          <i class="fa-solid fa-bars"></i>
          <img src="/images/logo.png" alt="logo" class="header-logo" />
          <i class="fa-solid fa-user"></i>
        </div>
        <div class="header-nav-search">
          <input type="text" placeholder="What are you looking for?" />
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
      </nav>
    </header> -->
    <main>
      <div>
        <h1>Mi carrito</h1>
        <h2>Productos</h2>
      </div>
      <section>
        <h3>Direccion de entrega</h3>
        <a href="">Otra direccion</a>
        <p>Avenida Siempreviva 742</p>
        <p>C.P. 4600 - San Salvador de Jujuy, Jujuy</p>
        <p>Cosme Fulanito - Telefono: 555-2633</p>
      </section>
      <section>
        <article>
          <div>
            <img src="/images/instrumentos/Guitarras/01/093.jpg" alt="" width="50%" />
            <a href=""></a>
            <h4>Marca de Guitarra</h4>
            <h4>Modelo de Guitarra</h4>
            <h4>Precio</h4>
            <div>
              <button>
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </div>
            <div>
              <button>
                <i class="fa-solid fa-circle-minus"></i>
              </button>
            </div>
            <h4>01</h4>
            <div>
              <button>
                <i class="fa-solid fa-circle-plus"></i>
              </button>
            </div>
          </div>
        </article>
      </section>
      <section>
        <h5>Cupon de descuento</h5>
      </section>
      <section>
        <h5>Medio de pago</h5>
        <a href="">Cambiar</a>
        <p>Tarjeta **** **** **** 6633</p>
      </section>
      <section>
        <h4>Subtotal</h4>
        <h4>999999.99</h4>
        <h4>Envio</h4>
        <h4>999999.99</h4>
        <h4>Descuento</h4>
        <h4>999999.99</h4>
        <h4>Total</h4>
        <h4>999999.99</h4>
      </section>
      <button>Finalizar Compra</button>
    </main>
    <footer>
      <nav>
        <ul>
          <li><a href="">About</a></li>
          <li><a href="">FAQ</a></li>
          <li><a href="">Contacto</a></li>
          <li><a href="">Mayoristas</a></li>
          <li><a href="">Sucursales</a></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
