<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <title>Registration Form CeroTempo</title>
    </head>
    <body>
        <header class="main-header" id="headerpush">
            <nav class="header-nav">
                <div class="header-nav-intro">
                    <i class="fa-solid fa-bars"></i>
                    <img src="/images/logo.png" alt="logo" class="header-logo">
                    <div class="header-search-desktop">
                        <input type="text" placeholder="What are you looking for?">              
                        <button class="header-search-btn">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>  
                    </div>
                    <div class="header-icons">                        
                        <span>
                            <a href="#contactUs">
                                <p>Help</p>
                            </a>                        
                            <i class="fa-brands fa-whatsapp"></i>
                        </span>
                        <span>
                            <a href="/productCart">
                                <p>Shopping Cart</p>
                            </a>
                            <i class="fa-solid fa-cart-shopping"></i>
                        </span>
                        <span>
                            <a href="register">
                                <p>Account</p>
                            </a>
                            <i class="fa-solid fa-user"></i>
                        </span>
                    </div>
                </div>
                <!-- MENU -->
                <nav class="nav-menu">
                    <ul class="menu-horizontal">
                        <li><a href="/">Home</a></li>
                        <li><a href="#aboutUs">About us</a></li>
                        <li>
                            <a href="#">Products</a>
                            <ul class="menu-vertical">
                                <li><a href="productDetail">Guitars</a></li>
                                <li><a href="productDetail">Basses</a></li>
                                <li><a href="productDetail">Pianos</a></li>
                                <li><a href="productDetail">Keyboards</a></li>
                                <li><a href="productDetail">Drums</a></li>
                                <li><a href="productDetail">Violins</a></li>
                                <li><a href="productDetail">Cellos</a></li>
                                <li><a href="productDetail">Violas</a></li>
                                <li><a href="productDetail">Electronics</a></li>
                                <li><a href="productDetail">Cables</a></li>
                                <li><a href="productDetail">Others</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Courses</a>
                            <ul class="menu-vertical">
                                <li><a href="courses">Guitar lessons</a></li>
                                <li><a href="courses">Violin lessons</a></li>
                                <li><a href="courses">Cello lessons</a></li>
                                <li><a href="courses">Piano lessons</a></li>
                            </ul>
                        </li>
                        <li><a href="luthiers">Luthier</a></li>
                        <li><a href="#contactUs">Contact</a></li>
                    </ul>
                </nav>
                                
                <div class="header-search">
                    <input type="text" placeholder="What are you looking for?"> 
                    <button class="header-search-btn">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>            
                </div>
            </nav>
        </header>
        <form action="#" class="form-r" method="post">
            <div class="sign-up">
                <p class="sign-up-p">¡SIGN UP!</p> 
            </div>
            <div class="form-div">
                <div class="sign-up">
                    <label for="name" class="name-l">NAME</label>
                    <input type="text" id="name" name="user-name"/>
                </div>
                <div class="sign-up">
                    <label for="surname" class="surname-l">SURNAME</label>
                    <input type="text" id="surname" name="user-surname"/>
                </div>
                <div class="sign-up">
                    <label for="birth" class="birth-l">DATE OF BIRTH</label>
                    <input type="text" id="birth" name="user-birth"/>
                </div>
                <div class="sign-up">
                    <label for="email" class="email-l">EMAIL</label>
                    <input type="email" id="email" name="user-email"/>
                </div>
                <div class="sign-up">
                    <label for="pass1" class="pass1-l">CREATE A PASSWORD</label>
                    <input type="password" id="pass1" name="user-pass1"/>
                </div>
                <div class="sign-up">
                    <label for="pass2" class="pass2-l">CONFIRM PASSWORD</label>
                    <input type="password" id="pass2" name="user-pass2"/>
                </div>
            </div>
            <div class="sign-up-button">
                <button type="submit" class="button-f" >SIGN UP</button>
            </div>
        </form>
    </body>
    <footer>
        <section class="main-footer">
            <article class="footer-phrase">
                <h1>
                    Always go forward, never go backwards.
                </h1>
            </article>
            <article class="footer-info">
                <h2>Info</h2>
                <ul class="info-li">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Wholesalers</a>
                    </li>
                    <li>
                        <a href="#">Branch Offices</a>
                    </li>
                    <li>
                        <a href="#">Frequent Questions</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </article>
            <article class="footer-contact">
                <h2>Contact</h2>
                <ul class="contact-li">
                    <li>
                        <a href="#">119815213664</a>
                    </li>
                    <li>
                        <a href="#">Sarasa Branch</a>
                    </li>
                    <li>
                        <a href="#">cerotempo@gmail.com</a>
                    </li>
                    <li>
                        <a href="#">Location</a>
                    </li>
                    <li>
                        <a href="#">Facebook</a>
                    </li>
                </ul>
            </article>
        </section>
        <p id="copyright"> Copyright © 2022 All Rights Reserved by CeroTempo</p>
    </footer>
</html>