<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <title>Registration Form</title>
    </head>
    <body>
        <header>
            <nav class="header-nav">
                <div class="header-nav-intro">
                    <i class="fa-solid fa-bars"></i>
                    <img src="/images/logo.png" alt="logo" class="header-logo">
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="header-nav-search">
                    <input type="text" placeholder="What are you looking for?">              
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </nav>
        </header>
        <form action="#" method="post">
            <div class="sign-up">
                <p class="sign-up-p">¡SIGN UP!</p> 
            </div>
            <div class="form-div">
                <div class="sign-up">
                    <label for="name">NAME</label>
                    <input type="text" id="name" name="user-name"/>
                </div>
                <div class="sign-up">
                    <label for="surname">SURNAME</label>
                    <input type="text" id="surname" name="user-surname"/>
                </div>
                <div class="sign-up">
                    <label for="birth">DATE OF BIRTH</label>
                    <input type="date" id="birth" name="user-birth"/>
                </div>
                <div class="sign-up">
                    <label for="email">EMAIL</label>
                    <input type="email" id="email" name="user-email"/>
                </div>
                <div class="sign-up">
                    <label for="pass1">CREATE A PASSWORD</label>
                    <input type="password" id="pass1" name="user-pass1"/>
                </div>
                <div class="sign-up">
                    <label for="pass2">CONFIRM PASSWORD</label>
                    <input type="password" id="pass2" name="user-pass2"/>
                </div>
            </div>
            <div class="sign-up-button">
                <button type="submit" >SIGN UP</button>
            </div>
        </form>
    </body>
    <footer>
        <section class="main-footer">
            <article class="footer-phrase">
                <h1>
                    Always go forward, never go backwards.
                </h1>
            </article>
            <article class="footer-info">
                <h2>Info</h2>
                <ul class="info-li">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Wholesalers</a>
                    </li>
                    <li>
                        <a href="#">Branch Offices</a>
                    </li>
                    <li>
                        <a href="#">Frequent Questions</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </article>
            <article class="footer-contact">
                <h2>Contact</h2>
                <ul class="contact-li">
                    <li>
                        <a href="#">119815213664</a>
                    </li>
                    <li>
                        <a href="#">Sarasa Branch</a>
                    </li>
                    <li>
                        <a href="#">cerotempo@gmail.com</a>
                    </li>
                    <li>
                        <a href="#">Location</a>
                    </li>
                    <li>
                        <a href="#">Facebook</a>
                    </li>
                </ul>
            </article>
        </section>
        <p id="copyright"> Copyright © 2022 All Rights Reserved by CeroTempo</p>
    </footer>
</html>