<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
<body>
    <%- include('./partials/header') %> 
    <main>
        <section class="main-luthier">
            <h2>Luthier</h2>
            <article class="box-luthier">
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio perferendis nemo iure non numquam dolorem, praesentium labore architecto ratione earum expedita veritatis aliquid doloribus? Inventore accusantium nostrum autem modi quidem?
                    Accusamus adipisci iure similique, facilis reprehenderit autem aut quidem corporis magnam quam labore, eius, veritatis quaerat placeat ducimus voluptatibus. Nam nemo odit rerum voluptatem consequuntur ipsa vero magnam perspiciatis eius?
                </p>
                <img src="/images/categories/guitarra.jpg" alt="">
            </article>
        </section> 
        <!-- CONTACTO -->
        <section class="main-contact">
            <form class="contact-comment">
                <div class="comment-box">
                    <label for="">Message</label>
                    <textarea name="" id="" placeholder="let us a comment..."></textarea>
                </div> 
                <div class="contact-input" id="contactUs">
                    <input id="contact-email" type="email" placeholder="example@gmail.com">
                    <input id="contact-btn" type="submit" value="Send">                                
                </div>
            </form>
            <article class="maps">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3281.6438257705518!2d-58.56146160611527!3d-34.66369694262935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc7d15e801f83%3A0x6999843b2805f2eb!2sAv.%20de%20Mayo%202222%2C%20B1704BVV%20Ramos%20Mej%C3%ADa%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1627746511105!5m2!1ses-419!2sar" allowfullscreen="" loading="lazy">
                </iframe>
                <p>Street Avenue 512 - New York</p>
            </article>
        </section>    
    </main>
    <%- include('./partials/footer') %> 
</body>
</html>