<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
<body>
    <%- include('./partials/header') %> 
    <main>
        <section class="main-panel-admin">
            <p>
                This is the admin panel. Here you can edit or add new products.
            </p>
            <div>
                <button class="btn-admin btn-create">
                    <a href="create">CREATE PRODUCTS</a>
                </button>
            </div>
        </section>
        
        <div class="panel-logo">
            <img src="/images/logoSolo.png" alt="logo">
        </div>
        <%- include('./partials/footer') %> 
    </main>
</body>
</html>