<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head') %> 
  <body>
    <%- include('./partials/header') %> 
    <main>
      <section class="main-cart">
        <div class="main__title">
          <h1>My shopping cart</h1>
          <h2>Products: 999</h2>
        </div>
        <section class="main__direction">
          <div class="main__direction__title">
            <h3>Delivery Adress</h3>
            <a href="">Another direction</a>
          </div>
          <div class="main__direction__description">
            <p>Av Siempreviva 742</p>
            <p>C.P. 4600 - street, Jujuy</p>
            <p>Cosme Fulanito - Phone: 555-2633</p>
          </div>
        </section>
  
        <div class="pc__main">
          <div class="main__desktopL">
            <section class="detail">
              <article class="product">
                <div class="main__image">
                  <img src="/images/instrumentos/Guitarras/01/093.jpg" alt="" width="100%" />
                  <!-- <a href=""></a> -->
                </div>
                <div class="main__product">
                  <div class="main__product__title">
                    <h4>Marca de Producto</h4>
                    <h4>Product Model</h4>
                  </div>
                  <div class="main__product__detail">
                    <h4>Price</h4>
                    <div>
                      <button>
                        <i class="fa-solid fa-trash-can"></i>
                      </button>
                    </div>
                    <div class="ordenar">
                      <div>
                        <button>
                          <i class="fa-solid fa-circle-minus"></i>
                        </button>
                      </div>
                      <h4>01</h4>
                      <div>
                        <button>
                          <i class="fa-solid fa-circle-plus"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </section>
  
            <section class="detail">
              <article class="product">
                <div class="main__image">
                  <img src="/images/instrumentos/Guitarras/01/093.jpg" alt="" width="100%" />
                  <!-- <a href=""></a> -->
                </div>
                <div class="main__product">
                  <div class="main__product__title">
                    <h4>Product Brand</h4>
                    <h4>Product Model</h4>
                  </div>
                  <div class="main__product__detail">
                    <h4>Price</h4>
                    <div>
                      <button>
                        <i class="fa-solid fa-trash-can"></i>
                      </button>
                    </div>
                    <div class="ordenar">
                      <div>
                        <button>
                          <i class="fa-solid fa-circle-minus"></i>
                        </button>
                      </div>
                      <h4>01</h4>
                      <div>
                        <button>
                          <i class="fa-solid fa-circle-plus"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </section>
  
            <section class="detail">
              <article class="product">
                <div class="main__image">
                  <img src="/images/instrumentos/Guitarras/01/093.jpg" alt="" width="100%" />
                  <!-- <a href=""></a> -->
                </div>
                <div class="main__product">
                  <div class="main__product__title">
                    <h4>Product Brand</h4>
                    <h4>Product Model</h4>
                  </div>
                  <div class="main__product__detail">
                    <h4>Price</h4>
                    <div>
                      <button>
                        <i class="fa-solid fa-trash-can"></i>
                      </button>
                    </div>
                    <div class="ordenar">
                      <div>
                        <button>
                          <i class="fa-solid fa-circle-minus"></i>
                        </button>
                      </div>
                      <h4>01</h4>
                      <div>
                        <button>
                          <i class="fa-solid fa-circle-plus"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </section>
          </div>
  
          <div class="main__desktopR">
            <section class="main__payment">
              <div class="main__payment__title">
                <h3>Payment method</h3>
                <a href="">Change</a>
              </div>
              <div class="main__payment__description">
                <p>Card **** **** **** 6633</p>
              </div>
            </section>
  
            <section class="main__descuento">
              <h4>Discount coupon</h4>
              <div class="main__descuento__cupon">
                <input type="text" placeholder="Ingrese su cupon" />
              </div>
            </section>
  
            <section class="main__priceTotal">
              <div class="main__priceTotal__line">
                <h4>Subtotal</h4>
                <h4>999999.99</h4>
              </div>
              <div class="main__priceTotal__line">
                <h4>Shipping</h4>
                <h4>999999.99</h4>
              </div>
              <div class="main__priceTotal__line">
                <h4>Discount</h4>
                <h4>999999.99</h4>
              </div>
              <div class="main__priceTotal__line">
                <h4>Total</h4>
                <h4>999999.99</h4>
              </div>
            </section>
  
            <div class="main__confirmation">
              <button>Finish shopping</button>
            </div>
          </div>
        </div>
      </section>
        <!-- CONTACTO -->
        <section class="main-contact">
          <form class="contact-comment">
              <div class="comment-box">
                  <label for="">Message</label>
                  <textarea name="" id="" placeholder="let us a comment..."></textarea>
              </div> 
              <div class="contact-input" id="contactUs">
                  <input id="contact-email" type="email" placeholder="example@gmail.com">
                  <input id="contact-btn" type="submit" value="Send">                                
              </div>
          </form>
          <article class="maps">
              <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3281.6438257705518!2d-58.56146160611527!3d-34.66369694262935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc7d15e801f83%3A0x6999843b2805f2eb!2sAv.%20de%20Mayo%202222%2C%20B1704BVV%20Ramos%20Mej%C3%ADa%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1627746511105!5m2!1ses-419!2sar" allowfullscreen="" loading="lazy">
              </iframe>
              <p>Street Avenue 512 - New York</p>
          </article>
      </section>
    </main>
    <%- include('./partials/footer') %> 
  </body>
</html>