<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head') %> 
  <body>
    <%- include('./partials/header') %> 
    <main class="main-productCart">
      <section class="main-cart">
        <div class="main__title">
          <h1>My shopping cart</h1>
          <h2>Products: 999</h2>
        </div>
        <section class="main__direction">
          <div class="main__direction__title">
            <h3>Delivery Adress</h3>
            <a href="">Another direction</a>
          </div>
          <div class="main__direction__description">
            <p>Av Siempreviva 742</p>
            <p>C.P. 4600 - street, Jujuy</p>
            <p>Cosme Fulanito - Phone: 555-2633</p>
          </div>
        </section>
  
        <div class="pc__main">
          <div class="main__desktopL">
            <section class="detail">
              <article class="product">
                <div class="main__image">
                  <img src="/images/instruments/default-image.png" alt="" width="100%" />
                  <!-- <a href=""></a> -->
                </div>
                <div class="main__product">
                  <div class="main__product__title">
                    <h4>Marca de Producto</h4>
                    <h4>Product Model</h4>
                  </div>
                  <div class="main__product__detail">
                    <h4>Price</h4>
                    <div class="ordenar">
                      <div>
                        <button>
                          <i class="fa-solid fa-circle-minus"></i>
                        </button>
                      </div>
                      <h4>01</h4>
                      <div>
                        <button>
                          <i class="fa-solid fa-circle-plus"></i>
                        </button>
                      </div>
                      <div class="btn-delete-cart">  
                        <button>
                          <i class="fa-solid fa-trash-can"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </section>
  
            <section class="detail">
              <article class="product">
                <div class="main__image">
                  <img src="/images/instruments/default-image.png" alt="" width="100%" />
                  <!-- <a href=""></a> -->
                </div>
                <div class="main__product">
                  <div class="main__product__title">
                    <h4>Product Brand</h4>
                    <h4>Product Model</h4>
                  </div>
                  <div class="main__product__detail">
                    <h4>Price</h4>
                    <div class="ordenar">
                      <div>
                        <button>
                          <i class="fa-solid fa-circle-minus"></i>
                        </button>
                      </div>
                      <h4>01</h4>
                      <div>
                        <button>
                          <i class="fa-solid fa-circle-plus"></i>
                        </button>
                      </div>
                      <div class="btn-delete-cart">
                        <button>
                          <i class="fa-solid fa-trash-can"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </section>
            
            <section class="detail">
              <article class="product">
                <div class="main__image">
                  <img src="/images/instruments/default-image.png" alt="" width="100%" />
                  <!-- <a href=""></a> -->
                </div>
                <div class="main__product">
                  <div class="main__product__title">
                    <h4>Product Brand</h4>
                    <h4>Product Model</h4>
                  </div>
                  <div class="main__product__detail">
                    <h4>Price</h4>
                    <div class="ordenar">
                      <div>
                        <button>
                          <i class="fa-solid fa-circle-minus"></i>
                        </button>
                      </div>
                      <h4>01</h4>
                      <div>
                        <button>
                          <i class="fa-solid fa-circle-plus"></i>
                        </button>
                      </div>
                      <div class="btn-delete-cart">
                        <button>
                          <i class="fa-solid fa-trash-can"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </section>
          </div>
  
          <div class="main__desktopR">
            <section class="main__payment">
              <div class="main__payment__title">
                <h3>Payment method</h3>
                <a href="">Change</a>
              </div>
              <div class="main__payment__description">
                <p>Card **** **** **** 6633</p>
              </div>
            </section>
  
            <section class="main__discount">
              <h4>Discount coupon</h4>
              <div class="main__discount__coupon">
                <input type="text" placeholder="enter your coupon" />
              </div>
            </section>
  
            <section class="main__priceTotal">
              <div class="main__priceTotal__line">
                <h4>Subtotal</h4>
                <h4>999999.99</h4>
              </div>
              <div class="main__priceTotal__line">
                <h4>Shipping</h4>
                <h4>999999.99</h4>
              </div>
              <div class="main__priceTotal__line">
                <h4>Discount</h4>
                <h4>999999.99</h4>
              </div>
              <div class="main__priceTotal__line last-total">
                <h4>Total</h4>
                <h4>999999.99</h4>
              </div>
            </section>
  
            <div class="main__confirmation">
              <button>Finish shopping</button>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%- include('./partials/footer') %>
    <script src="/js/menubar.js"></script> 
  </body>
</html>