<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
    <main>
        <section class="terms">
            <h1 class="title-section-terms">
                TERMS AND CONDITIONS
            </h1>
            <h2 class="terms-subtitle">
                OBJECTIVES OF THE WEBSITE
            </h2>
            <p class="terms-text">
                This contract (hereinafter the "Contract") describes the general terms and conditions (the "General
                Conditions")
                that regulate the use of the contents and services that make up the website www.cerotempo.com.ar
                (hereinafter the
                “Website”) that Trade Name (“Cerotempo”) makes available to Internet users (the “User”).
            </p>
            <p class="terms-text">
                Through the Website, Cerotempo provides Users with access to and use of various services and content, which
                are made
                available to Users, by the store, by third-party users of the Website and/or by third-party providers of
                services and content. .
            </p>
            <h2 class="terms-subtitle">
                ACCESS AND USE OF THE WEBSITE
            </h2>
            <p class="terms-text">
                The use of the Website attributes the condition of user thereof and expresses the User's full and
                unreserved
                acceptance of each and every one of the General Conditions in the version published by Cerotempo at the very
                moment
                the User accesses the Website. Consequently, the User must carefully read the General Conditions on each
                of the
                occasions in which he intends to use the Website and any User who does not accept these General
                Conditions,
                which are mandatory and binding, must refrain from using the Site. Website and/or services.
            </p>
            <p class="terms-text">
                Likewise, the use of the different services offered on the Website (the "Services") and the content
                included in
                the Website (the "Content") is also subject to all notices, regulations of use and instructions made
                known of
                the User by Cerotempo, which complete the provisions of these General Conditions insofar as they do not
                oppose them.
            </p>
            <p class="terms-text">
                Cerotempo reserves the right to unilaterally modify, at any time and without prior notice, the presentation
                and
                configuration of the Website, as well as the Services, the Content and/or these General Conditions.
            </p>
            <p class="terms-text">
                The User agrees to use the Website, the Content and the Services in accordance with the law, these
                General
                Conditions, also committing to:
            </p>
            <ol start="1">
                <li>
                    <p class="terms-text terms-text-list">1. Refrain from using the Website and the Services for illicit
                        purposes or effects, contrary to what is established in these General Conditions, harmful to the
                        rights
                        and interests of third parties, or that in any way may damage, disable, overload or deteriorate
                        the
                        Website and the Services or prevent the normal use or enjoyment of the Website and the Services
                        by the
                        Users.</p>
                </li>
                <li>
                    <p class="terms-text terms-text-list">2. Use the contents of the Website in a diligent, correct and
                        lawful
                        manner and, in particular, undertakes to refrain from (a) using the contents in a manner, for
                        purposes
                        or effects contrary to the law, morality and generally accepted good customs or to public order;
                        (b)
                        reproduce or copy, distribute, allow public access through any form of public communication,
                        transform
                        or modify the Contents, unless authorized by the owner of the corresponding rights or it is
                        legally
                        permitted; (c) suppress, evade or manipulate the copyright and other data identifying the rights
                        of
                        Cerotempo or its owners incorporated into the Contents, as well as the technical protection devices,
                        or any
                        information mechanisms that the contents may contain.</p>
                </li>
            </ol>


            <p class="terms-text">
                By virtue of the foregoing, the User is aware of and voluntarily accepts that the use of the Website,
                the
                Services and the Contents takes place, in any case, under the sole and exclusive responsibility of the
                User.
            </p>
            <p class="terms-text">
                Cerotempo reserves the right to deny or withdraw access to the Website and/or the Services, at any time and
                without
                prior notice, to those Users who fail to comply with these General Conditions.
            </p>
            <h2 class="terms-subtitle">
                REGISTRATION
            </h2>
            <p class="terms-text">
                In consideration of the use of the Service, the User must enter all the required information on the
                Website.
                Consequently, the User declares and guarantees to Cerotempo that all the information provided, as well as
                any other
                type of information that the store requires, is and will be accurate, current and true and will be
                provided in
                its entirety, also committing to keep the information updated. information supplied.
            </p>
            <p class="terms-text">
                The User is responsible for any statement made, operations carried out or act that occurs through the
                use of his
                username and password, since access to his account is restricted to the entry and use of a password, of
                exclusive knowledge of the User. Cerotempo reserves the right to reject any registration request or to
                cancel a
                previously accepted registration, without being obliged to communicate or explain the reasons for its
                decision
                and without this generating any right to compensation or compensation.
            </p>
            <p class="terms-text">
                The User agrees to immediately notify any unauthorized use of his registration. Cerotempo will not be
                responsible
                for the damages or losses derived from the breach by the User of the rules contained in this section.
            </p>
            <p class="terms-text">
                Cerotempo may use the information obtained through registration to carry out the activity on the Website.
                Consequently, the User, by inserting their data into the Website's database, expressly authorizes the
                store to
                disclose said information to third parties for reasons related to the Services offered on the Website.
            </p>
            <p class="terms-text">
                All information provided by the User will be used in accordance with Cerotempo's Privacy Policy. The user
                must
                review the Privacy Policies of the store, which are an integral part of this Agreement.
            </p>
            <h2 class="terms-subtitle">
                INTELLECTUAL PROPERTY
            </h2>
            <p class="terms-text">
                The Content of the Website, which includes texts, graphics, designs, software and programming used
                and/or
                displayed on the Website, is the exclusive property of Razón Social, and is protected by local
                regulations and
                international treaties.
            </p>
            <p class="terms-text">
                Cerotempo does not grant any license or authorization of use of any kind on its industrial and intellectual
                property
                rights or on any other property or right related to the Website, the Services or the Contents.
            </p>
            <p class="terms-text">
                Disclaimer and Limitation of Liability
            </p>
            <ol start="1">
                <li>
                    <p class="terms-text terms-text-list">1. Information and opinions contained in the Website.</p>
                    <p class="terms-text terms-text-list">Cerotempo does not guarantee or guarantee the veracity,
                        timeliness,
                        accuracy or reliability of the information or opinions included in the Website or in any Link
                        that
                        appears on the Website. Cerotempo will not be responsible for any decision that the User makes after
                        visiting the Cerotempo Web. The information contained on the Website does not imply any kind of
                        opinion
                        about the safety or quality of the different types of services and/or products offered on the
                        Website.
                        The opinions, analysis and/or information on the Website are provided to the User for the sole
                        purpose
                        of collaborating with them to make their own decisions and cannot be considered as
                        recommendations to
                        hire a particular service.</p>
                    <p class="terms-text terms-text-list">Likewise, Cerotempo does not guarantee or warrant - despite the
                        diligence
                        put into its preparation - that the information on the Website is free of inaccuracies or
                        errors. Cerotempo
                        does not assume any responsibility that may arise from the lack of veracity, integrity, updating
                        and
                        precision of the data or information of any nature, including those related to offers, products
                        or
                        services, prices, characteristics and any other relevant data and information about the products
                        and
                        services offered through the Website by third-party providers of products or services, nor with
                        respect
                        to the content, data or information that is provided from the web pages of said third parties.
                    </p>
                    <p class="terms-text terms-text-list">Cerotempo reserves, at its discretion, the right to update the
                        contents of
                        the Website, to eliminate them, limit them and prevent access to them, temporarily or
                        permanently. </p>
                </li>
                <li>
                    <p class="terms-text terms-text-list">2. Services acquired through the Website.</p>
                    <p class="terms-text terms-text-list"> The User acknowledges that when he purchases a product or
                        contracts a
                        service through the Website, he is creating a business relationship with Cerotempo. The User is
                        solely
                        responsible for the evaluation and contracting of the products and services offered on the
                        Website.</p>
                </li>
                <li>
                    <p class="terms-text terms-text-list">3. Operation of the Website.</p>
                    <p class="terms-text terms-text-list">Cerotempo does not guarantee that the Website will permanently
                        function as
                        expected and/or without interruptions, errors, defects or inaccuracies. The User acknowledges
                        and
                        accepts that the store is not responsible for the quality of the transmission, nor the time it
                        takes for
                        the User to access the Website or the services provided, or any other communication failure.</p>
                    <p class="terms-text terms-text-list">Under no circumstances will store be liable for any damages
                        (including, without limitation, consequential damages, lost profits, or damages resulting from
                        loss of
                        data, or business interruption) resulting of the use or access to, or the inability to use or
                        access,
                        the Website, and/or its Services, and/or its Content and/or any document.</p>
                    <p class="terms-text terms-text-list">Cerotempo does not guarantee the absence of viruses or other
                        harmful
                        elements that could cause damage or alterations to the user's computer system, and for which it
                        is not
                        responsible.</ p>
                </li>
            </ol>
            <p class="terms-text">
                Under no circumstances will store be liable for any damages (including, without limitation,
                consequential
                damages, lost profits, or damages resulting from loss of data, or business interruption) resulting from
                the use
                or access to, or the inability to use or access, the Website, and/or its Services, and/or its Content
                and/or any
                document.
            </p>
            <p class="terms-text">
                Cerotempo does not guarantee the absence of viruses or other harmful elements that could cause damage or
                alterations
                to the user's computer system, and for which it is not responsible.
            </p>
            <h2 class="terms-subtitle">
                GENERALITIES
            </h2>
            <ol start="1">
                <li>
                    <p class="terms-text terms-text-list">1. Duration and termination</p>
                    <p class="terms-text terms-text-list">The provision of the Website service and the other Services
                        has,
                        in principle, an indefinite duration. Cerotempo, however, is authorized to terminate or suspend the
                        provision of the Website and/or any of the Services at any time. When this is reasonably
                        possible, the
                        store will give prior notice of the termination or suspension of the provision of the Website
                        service
                        and the other Services.</p>
                </li>
                <li>
                    <p class="terms-text terms-text-list">2. Applicable law and jurisdiction</p>
                    <p class="terms-text terms-text-list">These General Conditions are governed by the laws of the
                        Argentine Republic.</p>
                    <p class="terms-text terms-text-list">Cerotempo and the User, expressly waiving any other jurisdiction,
                        submit to the jurisdiction of the Ordinary Courts of the Autonomous City of Buenos Aires
                        (Argentine
                        Republic) for any dispute that may arise from the provision of services subject to these General
                        Conditions.</p>
                </li>
            </ol>

        </section>
    </main>
<!-- FOOTER -->
<%- include('./partials/footer') %>
<script src="/js/menubar.js"></script>
</body>
</html>