<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>CEROTEMPO CENTER PURCHASE TERMS</h2>
<p>

    PLEASE READ THESE GUITAR CENTER PURCHASE TERMS (“PURCHASE TERMS”) CAREFULLY AS THEY CONTAIN IMPORTANT INFORMATION ABOUT YOUR RIGHTS AND OBLIGATIONS, AS WELL AS LIMITATIONS AND EXCLUSIONS.
    
    THESE PURCHASE TERMS INCORPORATE THE FOLLOWING OTHER GUITAR CENTER POLICIES:
    
    • THE GUITAR CENTER DISPUTE RESOLUTION POLICY, WHICH REQUIRES THE USE OF ARBITRATION ON AN INDIVIDUAL BASIS TO RESOLVE DISPUTES RATHER THAN JURY TRIALS OR CLASS ACTIONS;
    
    • THE GUITAR CENTER PRIVACY POLICY;
    
    • THE GUITAR CENTER RETURN POLICY; AND
    
    • THE GUITAR CENTER SHIPPING, TAXES AND TITLE POLICY.
    
    BY MAKING ANY PURCHASE, YOU ARE AGREEING TO THESE PURCHASE TERMS.
    
    Entire Agreement
    
    In these Purchase Terms, the terms “Guitar Center,” “we,” “our,” and “us” refer to Guitar Center Stores, Inc. Other than as specifically provided in any separate written purchase agreement between you and Guitar Center, these Purchase Terms apply to all of your Guitar Center purchases, including, but not limited to, those made in-store, from the website at www.guitarcenter.com, our mobile application (the “App”), and any other website or mobile application owned or operated by Guitar Center Stores, Inc. which direct the user to these Purchase Terms. Collectively, we refer to www.guitarcenter.com, the App and any other website or mobile application owned or operated by Guitar Center which refers its users to these Purchase Terms as the “Site.”
    
    These Purchase Terms may NOT be altered, supplemented or amended by you through the use of any other document(s). Any attempt to alter, supplement or amend these Purchase Terms or to enter an order for product(s), which is subject to additional or altered terms and conditions, will be null and void, unless otherwise agreed to in a written agreement signed by both you and Guitar Center.
    
    Order Acceptance
    All orders, including, online orders, telephone orders and preorders for limited availability products are not binding upon Guitar Center until we accept them. Unless otherwise agreed by Guitar Center, payment must be processed by Guitar Center prior to an order being accepted. Guitar Center will communicate its acceptance of an order by acknowledging your order by reply email then processing your payment and shipping the item(s) ordered to you or by processing your payment in-store and providing the item(s) ordered to you. We reserve the right to refuse to provide products or services to anyone.
    
    Pricing
    Because prices, product descriptions and availability can change quickly, Guitar Center does not warrant the accuracy or completeness of the information provided on the Site, in our stores or in written materials and is not responsible for pricing, typographical or other errors.
    
    If a product you purchase does not match the description on the Site, as your sole and exclusive remedy you may return the product, unused, to Guitar Center and receive a refund of your purchase price.
    
    Items in your shopping cart will reflect the most recent price displayed on each item's product detail page. Prices are frequently updated to adjust for different sales, limited pricing, and other discounting. Therefore, prices on the product detail page and in your cart may change after such updates to reflect the current prices. Placing items in your cart does not reserve the current prices shown at that time. Prices are reserved only by placing an order.
    
    In the event of a pricing error, Guitar Center will do one of the following: (1) if an item's correct price is lower than our stated price, we will charge the lower amount and ship you the item; or (2) if an item's correct price is higher than our stated price, we will, at our discretion, either contact you for instructions before shipping or cancel your order and notify you of such cancellation. We apologize for any inconvenience. If you are not satisfied with your purchase due to any errors or inaccuracies, you may return your purchase in accordance with our Return Policy. Discounts are limited-time offers and are not valid with other offers.
    
    The Site or other written material may from time to time identify a List Price or MSRP for a product. List Price or MSRP is the suggested retail selling price of a product provided to us by the manufacturer. We may commonly sell products at prices lower than List Price/MSRP, and, for any given product, no sales may have occurred at List Price/MSRP.
    
    Whether other retailers sell at List Price/MSRP will vary by product, geographic location, type of store and over time.
    
    To the extent we reference List Price/MSRP, we try to update the List Prices/MSRPs in our printed materials and on our Site as we receive them. However, in some cases, the manufacturer may change a List Price/MSRP without notice to us.
    
    Please contact the manufacturer of a specific product for the most up-to-date List Price/MSRP information.
    
    List Price/MSRP also may be quoted for house or private label brands and such references are developed internally taking into consideration comparable name brand products. We may commonly sell such products at prices lower than List Price/MSRP, and, for any given product, no sales may have occurred at List Price/MSRP.
    
    Although our limited time events are intended to be limited time events, our low prices offered during these events may continue in effect after the event.
    
    Values associated with items labeled “free with purchase” are based upon regular selling price.
    
    Payment Terms–Orders
    Orders through the Site may be paid for using the following methods: VISA, MasterCard, American Express, Discover and Guitar Center Gear Card and Guitar Center gift cards. In addition to using the Guitar Center shopping cart feature for orders through the Site, orders can also be placed by calling Guitar Center at 1-866-498-7882 or using PayPal. All online or phone non-credit card orders are subject to a 10-business-day hold .
    
    Guitar Center Gear Card
    Guitar Center will from time-to-time offer certain promotional purchase offers for select brands when purchasing with a Guitar Center Gear Card. When your promotional offer purchase is charged to your Guitar Center Gear Card, no interest is assessed on your promotional purchase balance if you pay the promotional purchase balance in full by the end of your promotional period. If you do not, periodic finance charges will be assessed on the promotional purchase balance from the date of purchase. Minimum monthly payments, equal to the initial promotional purchase amount divided by the number of months in the promotional purchase period until the promotional price is paid in full, will be required on your promotional purchase balance during and after the promotional period. The equal monthly payment will be rounded to the next highest whole dollar and may be higher than the minimum payment that would be required if the purchase was a non-promotional purchase. Regular account terms apply to non-promotional purchases. If minimum monthly payments on any balances on your account are not paid when due, all special promotional terms may be terminated. Standard account terms apply to non-promotional purchases and, after the promotion ends, to your promotional purchases. For more information on the terms and conditions governing your use of your Guitar Center Gear Card, refer to your Gear Card Disclosure.
    
    Limited Availability Products
    Guitar Center regularly offers vintage, special limited edition and other limited quantity products to the public, some of which may be identified as Hot Buys or Closeouts. Because the supply of these products is extremely limited and customer demand often greatly exceeds the supply, we offer these products for sale strictly on a “first come first served” basis. The placement of a preorder and the prepayment of a deposit or the placement of credit on account is not a purchase and does not guarantee that you will receive the product; it merely establishes that you have been placed on the waiting list of potential purchasers of that product. We make good faith efforts to list potential purchasers and to fulfill the preorders in the order in which they were placed and we received any required prepayment of a deposit or credit on account, until all of the product(s) we decide to sell, in our sole discretion, have been sold. If you have placed a preorder and prepaid a deposit or placed credit on account for of one of these products and we are not able to fulfill your preorder because of limited availability, we will promptly refund any deposit or credit on account.
    
    See our Low Price Guarantee on price match limitations for limited availability products.
    
    Limited Warranty
    All new products are sold with the manufacturer's limited warranty. The warranty period and service varies by manufacturer and product. The full text of any such warranty is available, free of charge, upon written request addressed to: Guitar Center Inc., ATTN: Warranty Request, 5795 Lindero Canyon Road, Westlake Village, CA 91362.
    
    GUITAR CENTER PROVIDES NO AUTOMATIC SEPARATE WARRANTY AND TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, GUITAR CENTER EXPRESSLY DISCLAIMS ALL WARRANTIES AND CONDITIONS REGARDING ANY PRODUCTS SOLD TO YOU, WHETHER EXPRESS, IMPLIED OR STATUTORY AND INCLUDING BUT NOT LIMITED TO ALL WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT OF THIRD PARTY RIGHTS. You may purchase additional warranty coverage if you pay for the Guitar Center Pro Coverage.
    
    Repair Disclaimer
    We are committed to making the repair process as easy as possible for our customers. Guitar Center provides repair services through a variety of methods including: in-store repair facilities; outside service centers which regularly provide offsite repairs; and, at times, we may refer you to a local independent repair service center. In any case, Guitar Center accepts no responsibility for loss or damage to any customer owned merchandise which was not directly caused by our repairs or handling. The customer is fully responsible for all charges incurred, including but not limited to, freight to and from the repair service center, parts, labor, local tax, handling fee and surcharge/estimated fee (if any). Merchandise not picked up (and paid for) within 90 days after notification (using the contact information provided to us) of completed repairs will be considered abandoned by Guitar Center.
    
    Layaway Terms For In-Store Purchases
    There are no fees and deposits are 100% refundable for layaway items. Layaways require a minimum deposit of 25% of the purchase price, with 30 days to pay the balance and pick up. Layaways that have reached 30 days are subject to cancelation. The item(s) will be released and the deposit will be placed as a fully refundable credit on account in your name. Some items may not be available for layaway.
    
    Limitation of Liability and Notice to New Jersey Residents
    GUITAR CENTER DOES NOT ACCEPT LIABILITY BEYOND THE REMEDIES SET FORTH HEREIN, INCLUDING ANY LIABILITY FOR PRODUCTS NOT BEING AVAILABLE FOR USE, OR FOR LOST OR CORRUPTED DATA OR SOFTWARE, OR FOR FAILING TO PROVIDE SERVICES AND/OR SUPPORT. GUITAR CENTER WILL NOT BE LIABLE FOR LOST PROFITS, LOSS OF BUSINESS OR OTHER CONSEQUENTIAL, SPECIAL, INDIRECT, OR STATUTORY DAMAGES, EVEN IF IT IS ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. YOU AGREE THAT FOR ANY LIABILITY RELATED TO THE PURCHASE OF PRODUCTS OR SERVICES BUNDLED WITH THE PRODUCTS, WHETHER FOR BREACH OF CONTRACT, WARRANTY, NEGLIGENCE, STRICT LIABILITY IN TORT OR OTHERWISE, GUITAR CENTER SHALL NOT BE LIABLE OR RESPONSIBLE FOR ANY AMOUNT OF DAMAGES ABOVE THE AGGREGATE DOLLAR AMOUNT PAID BY YOU FOR THE PURCHASE OF PRODUCTS OR SERVICES UNDER THESE PURCHASE TERMS GIVING RISE TO SUCH LIABILITY.
    
    No provision in these Purchase Terms shall apply to any consumer in New Jersey if the provision limits redress for/under: (i) Guitar Center’s tortious actions (e.g., negligence, failure to exercise a basic standard of care, failure to avoid creating an unreasonable risk of harm); (ii) the New Jersey Products Liability Act, N.J.S.A. 2A:58C-1, et seq. (i.e., the statutorily imposed duty to refrain from manufacturing and selling dangerous products, with the possibility of punitive damages for violations thereof); (iii) the New Jersey Punitive Damages Act, N.J.S.A. 2A:15-5.9, et seq. (i.e., the statutory right to pursue punitive damages in the event of harm caused by actual malice, wanton and willful disregard, reckless indifference); and (iv) the New Jersey Uniform Commercial Code (i.e., a comprehensive statutory regime governing the rights and duties of buyers and sellers with respect to contracts for the sale of goods, with the possibility of damages for economic and property harm).
    
    NEW JERSEY RESIDENTS: With respect to these Purchase Terms, the provision concerning the exclusion or limitation of certain damages is not applicable in New Jersey with respect to statutory damages, punitive damages, loss of data, and loss of or damage to property.
    
    Applicable Law—Resale or Export
    You agree to comply with all applicable laws and regulations of the various states and of the United States. You agree and represent that you are buying for your own personal use only, and not for resale or export.
    
    Governing Law
    These Purchase Terms shall for all purposes be governed by and interpreted in accordance with federal law and the laws of the State of California as those laws are applied to contracts entered into and to be performed entirely in California, without regard to conflicts of law provisions.
    
    Headings
    The section headings used herein are for convenience of reference only and do not form a part of these terms and conditions, and no construction or inference shall be derived therefrom.
    
    California Prop 65 Notice
    WARNING – This product may contain a chemical known to the state of California to cause cancer, or birth defects or other reproductive harm.
    
    Items with “Exclusive” callout
    Products are exclusive to the Guitar Center Family of Brands
    
    Items with “GC Exclusive” or “Guitar Center Exclusive” callout
    Products are exclusive to the Guitar Center Brand
    </body>
</p>
</html>