.main-admin > h2 {
    background-color: black;
    color: white;
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
}
.main-form-create {
    margin: 30px 0; 
}
.admin-form {
    display: flex;
    justify-content: center;
}
.admin-form div {
    margin: 20px;
}
.left-container {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
.admin-box {
    display: flex;
    flex-direction: column;
}
.admin-box input {
    background-color: var(--orangeLogo);
    border: 4px solid black;
    border-radius: 5px;
    color: white;
}

#text-description {
    background-color: var(--orangeLogo);
    border: 4px solid black;
    border-radius: 5px;
    color: white;
}




/* add img */
.into-admin-box {
    display: flex;   
    justify-content: space-evenly;
}
.add-img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.add-img label {
    position:relative;
    top: 10px;
    margin:0;
	padding:10px;
	width:100px;
	background-color: black;
    border-radius: 10px;
}
.add-img label:hover {
    background-color: var(--orangeLogo);
    cursor: pointer;
}
#imageProduct { 
	position: absolute;
    width:100px;
    opacity: 0;
}
.add-img label {
    color: white;
    text-align: center;
    font-size: 12px;
}
.img-create-preview img {
    width: 300px;
    height: 300px;
    border: 4px solid black;
}
.img-create-preview h2 {
    font-size: 20px;
}

#category-select {
    background-color: var(--orangeLogo);
    color: white;
    border: 4px solid black;
    border-radius: 5px; 
}

.btn-send-create button {
    text-transform: uppercase;
    border-radius: 5px;
    background-color: black;
    color: white;
    border: 0;
    padding: 5px 15px;
    font-family: 'Anton', sans-serif;
    font-weight: 100;
    font-size: 18px;
}
.btn-send-create button:hover {
    background-color: var(--orangeLogo);
    transition: all 0.5s;
    transform: scale(1.1);
    border: 2px solid black;
}
.form-delete {
    display: inline-block;
}

@media (max-width:  425px) {
    .admin-form {
        display: flex;
        flex-direction: column;
    }
    .left-container{
        display: flex;
        flex-direction: column;
    }
    .right-container {
        display: flex;
        flex-direction: column;
    }
}