* {
    box-sizing: border-box;
}
header,
main,
footer {
    max-width: 1224px;
    margin: 0 auto; 
}
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: black;
    list-style: armenian;
    text-decoration: none !important;
}

:root {
    --orangeLogo: #f25824;
}
/*
ANIMACIÓN INICIO DE PAGINA, ACTIVAR POSTERIORMENTE
#openSite  {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    background-size: cover;
    z-index: 20;
    position: absolute;
    animation: open 4s;
    animation-delay: 2s;
    animation-fill-mode: forwards;  
    animation-timing-function: 1;
}
@keyframes open {
    from {
        opacity: 100%;
        z-index: 1;
    }

    to {
        opacity: 0%;
        z-index: -1;
    }
}

#imageOpen {
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 350px;
    height: 250px;
    z-index: 30;
    position: absolute;
    animation: imag 4s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: 1;
}

@keyframes imag {
    from {
        opacity: 100%;
        z-index: 1;
    }

    to {
        opacity: 0%;
        z-index: -1;
    }
}

*/