.main-cart {
    margin: 20px 0;
  }
  .main__title {
    background-color: black;
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  
  .main__title * {
    font-size: 25px;
    color: white;
    margin: 5px 0;
  }
  
  .main__direction {
    background-color: #f25824;
  }
  
  .main__direction__title {
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
  }
  
  .main__direction__title * {
    font-size: 15px;
    color: black;
    margin: 5px 0;
  }
  
  .main__direction__description p {
    font-size: 15px;
    color: white;
    margin: 5px 15px;
  }
  
  
  .detail {
    display: flex;
    border-bottom: 1px solid #f25824;
  }
  
  .product {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .main__image {
    display: flex;
    width: 30%;
  }
  
  .main__product {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto 0;
  }
  
  .main__product__title {
    background-color: white;
    width: 60%;
  }
  
  .main__product__title h4 {
    margin: 0;
    padding: 5px 0;
  }
  
  .main__product__title {
    width: 75%;
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    font-size: 15px;
  }
  
  .main__product__detail {
    width: 75%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 5px;
  }
  
  .main__product__detail .ordenar {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .main__payment {
    display: flex;
    flex-direction: column;
    background-color: #f25824;
    width: 100%;
  }
  
  .main__payment__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
    height: 30px;
  }
  
  .main__payment__title * {
    font-size: 15px;
    color: black;
    margin: 5px 0;
  }
  
  .main__payment__description p {
    color: white;
    display: flex;
    align-items: center;
    margin: 0 15px;
    height: 30px;
  }
  
  .main__descuento {
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid #f25824;
  }
  
  .main__descuento h4 {
    font-size: 15px;
    margin: 0;
  }
  
  .main__descuento__cupon {
    border: 1px solid #f25824;
    border-radius: 2px;
  }
  
  .main__priceTotal {
    background-color: white;
    display: flex;
    height: 120px;
    margin: auto 0;
    flex-wrap: wrap;
    align-content: center;
  }
  
  .main__priceTotal__line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
  }
  
  .main__priceTotal__line h4 {
    margin: 2px;
  }
  
  .main__confirmation {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 30px;
    margin-top: 10px;
  }
  
  .main__confirmation button {
    color: white;
    border: 1px solid;
    border-radius: 5px;
    font-family: 'Anton', sans-serif; 
  }
  .main__confirmation button:hover {
    background-color: black;
  }
   
  @media (min-width: 768px) {
    .main__priceTotal__line {
      width: 60%;
    }
  
    .main__confirmation button {
      width: 40%;
    }
  }
  
  @media (min-width: 1024px) {
    .pc__main {
      display: flex;
      width: 100%;
    }
  
    .pc__main .main__desktopL {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 60%;

    }
  
    .pc__main .main__desktopR {
      display: flex;
      flex-direction: column;
      width: 40%;
      /* border: 1px solid #f25824; */
    }
  
    .detail {
      display: flex;
      /* margin: 5px 0; */
      width: 95%;
    }
  
    .main__priceTotal {
      width: 95%;
      margin: 0;
    }

  }