body{
    color: black;
    font-family: 'Roboto', sans-serif;
}

img.piano-1{
    height: 300px;
    width: auto;
    display: block;
    margin: auto;
} 

.info-li{
    color: white;
    font-family: 'Roboto', sans-serif;
}
.contact-li{
    color: white;
    font-family: 'Roboto', sans-serif;
}

.name{
    font-size: 20px;
}
input.product-quantity-i{
    background-color: gray;
    margin-bottom: 2rem;
    text-align: left;
}
input.buy-now-i{
    background-color: #FF4A00;
    margin-bottom: 1rem;
    text-align: center;
}
input.add-cart-i{
    background-color:gray;
    margin-bottom: 1rem;
    text-align: center;
}

::placeholder{
    color: black;
}
.product-name{
    text-align: left;

}
.price{
    font-size: 30px;
}

.detail-div{
    margin: 30px;
}

.input-three{
    justify-content: center;
    align-items: center;
    display: grid;
}