
/* ************** SECCION DETALLE DEL PRODUCTO ************** */



/* ************** INTRO AL PRODUCTO ************** */



/* ************** CARACTERÍSTICAS ************** */



/* ************** METODOS DE PAGO ************** */




img.piano-1,
img.piano-2,
img.piano-3,
img.piano-4,
img.piano-5
{
    height: 300px;
    width: 300px;
    display: block;
    margin: auto;
} 

.info-li{
    color: white;
    font-family: 'Roboto', sans-serif;
}
.contact-li{
    color: white;
    font-family: 'Roboto', sans-serif;
}

.name{
    font-size: 20px;
}
.product-quantity-i{
    background-color: gray;
    margin-bottom: 2rem;
    text-align: left;
    width: 250px;
    height: 35px;
    border-radius: 10px;

}
.buy-now-i{
    background-color: #FF4A00;
    margin-bottom: 1rem;
    text-align: center;
    width: 250px;
    height: 35px;
    border-radius: 10px;

}
.add-cart-i{
    background-color:gray;
    margin-bottom: 1rem;
    text-align: center;
    width: 250px;
    height: 35px;
    border-radius: 10px;
}

::placeholder{
    color: black;
}
.product-name{
    text-align: left;
	max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    position: relative;

}
.product-photo{
	max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    position: relative;
}
.product-price{
	max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    position: relative;
}
.price{
    font-size: 35px;
    margin-bottom: 50px;
}
.r-price-div p,
.r-cart-div
{
    text-align: left;
    margin-left: 5px;
}
.characteristic-p1,
.description-p1,
.payment-methods-p,
.recommended-p
{
    font-size: 25px;
 
}
.credit-p,
.debit-p,
.cash-p
{
    font-size: 20px;
}

.detail-div{
    margin: 0;
	padding: 0;
}
.product-characteristics{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    position: relative;
}
.product-description{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    position: relative;
}
.payment-methods{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    position: relative;
}
.input-three{
    justify-content: center;
    align-items: center;
    display: grid;
    margin-bottom: 50px;
	max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    position: relative;


}

.recomm1{
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 100px;
    flex-direction: column;
    border-color: #989898;
    border-width: 1px;
    border-style: solid;


}
.recomm2{
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 100px;
    flex-direction: column;
    border-color: #989898;
    border-width: 1px;
    border-style: solid;
    


}
.recomm3{
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 100px;
    flex-direction: column;
    border-color: #989898;
    border-width: 1px;
    border-style: solid;
    

}
.recommended-div2{
    display: flex;
    justify-content: center;
    margin: 20px;
    margin-right: 20px;
    height: 250px;
    justify-content: space-between;

}


.viola,
.guitar,
.speaker{
    width: 100px;
    height: 100px;

}
.cart{
    width: 15px;
    height: 15px; 
}
.add{
    color: blue;
    font-size: 12px;
    bottom: 0px;

}
.r-cart-div{
    justify-content: end;
}
.name-p{
    font-size: 14px;
    height: 55px;
    text-align: left;
    margin-left: 5px;
}

.main-footer{
    flex-wrap: wrap;
}
.footer-phrase,
.footer-info,
.footer-contact{
    margin-left: 40px;
}

.a-datos {
    color: black;

}

/* ************** RECOMENDADOS ************** */
.main-recommend h2 {
    font-size: 35px;
}
.box-recommend {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.box-recommend div {
    margin: 5px;
}
.product-recommend img {
    width: 300px;
    height: 300px;
}
#recommend-description {
    font-size: 16px;
}
#recommend-price {
    font-size: 25px;
}
.product-recommend div {
    margin: 0;
    padding: 0;
}
.product-recommend p {
    margin: 0;
    padding: 0;
}
.product-add {
    display: flex;
    align-items: center;
}
.product-add i {
    font-size: 20px;
    padding-right: 15px;
    color: rgb(2, 198, 2);
}.main-recommend h2 {
    font-size: 35px;
}
.box-recommend {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.box-recommend div {
    margin: 5px;
}
.product-recommend img {
    width: 300px;
    height: 300px;
}
#recommend-description {
    font-size: 16px;
}
#recommend-price {
    font-size: 25px;
}
.product-recommend div {
    margin: 0;
    padding: 0;
}
.product-recommend p {
    margin: 0;
    padding: 0;
}
.product-add {
    display: flex;
    align-items: center;
}
.product-add i {
    font-size: 20px;
    padding-right: 15px;
    color: rgb(2, 198, 2);
}



/* ************** MEDIA QUERIES ************** */

/* -------------- MOBILE FIRST -------------- */
@media (max-width: 426px){
    .main-footer{
        flex-direction: column;
    }
    .recommend-arrow {
        display: none;
    }
}


/* -------------- TABLET -------------- */
@media (max-width: 526px){
    .recommend-arrow {
        display: none;
    }
}

@media (max-width: 769px){
    .recommend-arrow {
        display: none;
    }
}


/* -------------- DESKTOP -------------- */
@media (min-width: 1024px) {
    .box-recommend {
        flex-direction: row;
    }
    /* ICONS */
    .recommend-arrow {
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        border-radius: 50%;
    }
    .recommend-arrow:hover {
        cursor: pointer;
        background-color: var(--orangeLogo);
        transition: all 0.5s;
        transform: scale(1.1);
    }
    .recommend-arrow i {
        font-size: 30px;
        color: white;
        
    }

}






