/* PRODUCTDETAIL PRODUCTDETAIL PRODUCTDETAIL PRODUCTDETAIL PRODUCTDETAIL PRODUCTDETAIL */

.pDetail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pDetail-image {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.pDetail-image:hover {
    cursor: pointer;
}
.pDetail-image-img {
    width: 90%;
    height: 300px;
    /* border: 4px black solid;    */
}

.pDetail-zoomImage-container {
    display: none;
}
.pDetail-zoomImage-items {
    display: flex;

}

.pDetail-buy-payment-container {
    width: 90%;
}

.pDetail-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: var(--orangeLogo);
}

.pDetail-price {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

.pDetail-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    margin: auto;
    width: 80%;
    /* border: rgb(204, 192, 255) solid 5px;   */
}

.pDetail-counter {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: #010101;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 7px;
    /* cursor: pointer; */
}
.pDetail-counter:hover{
    background-color: #4a4a4a;
}
.pDetail-counter span {
    width: 33%;
    text-align: center;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.pDetail-counter span.num {
    border-left: #fff solid 2px;
    border-right: #fff solid 2px;
}

.minus,
.plus {
    cursor: pointer;
}

.buy-now-i,
.add-cart-i {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
    border: none;
    background-color: var(--orangeLogo);
    color: #fff;
    padding: 7px;
    border-radius: 5px;
    font-family: 'Anton', sans-serif;
}
.buy-now-i:hover{
    background-color: #ef835e;
}
.add-cart-i:hover{
    background-color: #ef835e;
}
.pDetail-payment-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.pDetail-payment-title{
    display: block;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 14px; 
}

.pDetail-payment-logos-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.pDetail-credit-div,  .pDetail-debit-div, .pDetail-cash-div{
    /* border: rgb(71, 154, 255) solid 2px; */
    width: 170px;
    margin: 5px;


}
.credit-p, .debit-title, .cash-title{
    color: rgb(47, 47, 47);
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 14px; 
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 3px;
}

.pDetail-credit-logosContainer, .pDetail-debit-logosContainer,  .pDetail-cash-logosContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    /* border: tomato solid 2px; */
}

.pDetail-debit-logo{
   height: 20px;
}

.characteristic-description{
 display: flex;
 flex-direction: column;
 width: 100%;
 align-items: flex-start;
}

.characteristic-description{
    display: flex;
    justify-content: flex-start;
    width: 90%;

}
.pDetail-characteristic-container{
    width: 100;
}
.pDetail-characteristic-title, .pDetail-description-title{
    color: rgb(47, 47, 47);
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 16px; 
    text-align:left;
    text-transform: uppercase;
    margin-top: 30px;
}
.pDetail-list{
    padding-left: 0;
    color: rgb(47, 47, 47);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px; 
}
.pDetail-list-item{
    padding-bottom: 5px;
    font-family: 'Raleway', sans-serif;
    /* font-style: normal; */
}
.pDetail-description-text{
    color: rgb(47, 47, 47);
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 14px; 
}
.pDetail-recommend-title{
    font-family: 'Raleway', sans-serif;
    margin: 20px;
    font-size: 18px;
    font-weight: 600;
}
.pDetail-hr{
    border: 1px solid #363636;
    width: 100%;
}
/* tablet */
@media (min-width: 769px) {
    .pDetail-image-img {
        width: 500px;
        height: 500px;
    }



    .pDetail-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
       
    }

    .pDetail-images-container{
        display: flex;
        flex-direction: column;
        width: 65%;
        padding: 20px;
        max-height: 800px;
    }   

    .pDetail-zoomImage-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 10px;
        /* height: 100px; */
    }
    .pDetail-zoomImage-items img{
        width: 160px;
        height: 160px;
        margin-right: 10px;
        border: 3px black solid;
        border-radius: 5px;
    }
    .pDetail-zoomImage-items img:hover {
        cursor: pointer;
        transform: scale(1.4);
        transform: all 0.5s;
    }
    
    .pDetail-buy-payment-container{
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       align-items: space-between;
        width: 30%;
        padding: 20px 20px 20px 0;
        /* height: 1000px; */
    }
    
    .pDetail-buy-container{
        width: 100%;
        padding-top:50px;
    }
    .pDetail-buttons-container{
        width: 100%;
    }
    .pDetail-payment-container{
        padding-top: 30px;
    }
    .characteristic-description{
        width: 100%;
        margin: 20px;
    }
}
