
.form-r {
    margin: 30px 0;
}
.form-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.form-div div input {
    border-radius: 10px;
}
.sign-up{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.sign-up-p{
    font-size: 18px;
    align-content: flex-start;
}
.sign-up-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign-up-button button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}
.button-f{
    display: flex;
    border-radius: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #FF6C3B;
    width: 100px;
    height: 30px;
}
.sign-up-terms {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 15px;
}
.terms-box {
    margin-bottom: 5px;
}
.alert-validation {
    color: red;
    font-weight: 600;
}
#terms {
    margin-right: 10px;
}
#name,
#surname,
#birth,
#email,
#pass1,
#pass2{
    width: 150px;
    height: 15px;
    margin-bottom: 15px;
    background-color: #FF6C3B;
}
.name-l,
.surname-l,
.birth-l,
.email-l,
.pass1-l,
.pass2-l{
    font-size: 16px;
}

/* TABLET */
@media (min-width: 545px) {
    .sign-up-p{
        font-size: 45px;
        align-content: flex-start;
    }
    .form-div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .button-f{
        display: flex;
        border-radius: 60px;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #FF6C3B;
        width: 150px;
        height: 30px;
    }
    #name,
    #surname,
    #email,
    #pass1,
    #pass2{
        width: 300px;
        height: 20px;
    }
    #birth {
        width: 150px;
        height: 20px;
    }

}

/* DESKTOP */
@media (min-width: 1024px){

    .form-div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .button-f{
        display: flex;
        border-radius: 60px;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #FF6C3B;
        width: 200px;
        height: 40px;
    }
    #name,
    #surname,
    #email,
    #pass1,
    #pass2{
        width: 500px;
        height: 25px;
    }
}