<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head') %>
  <body>
    <!-- HEADER -->
    <%- include('../partials/header') %>
    <main class="l__main">
      <h1>¡hola de nuevo!</h1>
      <div>
        <h2>email</h2>
        <div class="l__main__credentials">
          <input class="l__main__credentials__imput" type="text" placeholder="Ingrese su email" />
        </div>
      </div>
      <div>
        <h2>contraseña</h2>
        <div class="l__main__credentials">
            <input class="l__main__credentials__imput" type="text" placeholder="Ingrese su contraseña" />
        </div>
      </div>
      <button class="l__main__login">iniciar sesion</button>
      <nav class="l__main__options">
        <ul>
          <li class="l__main__options__link"><a href="">no recuerdo mi contraseña</a></li>
          <li class="l__main__options__link"><a href="">crear cuenta</a></li>
        </ul>
      </l__nav>
      <p class="l__main__copyright">CeroTempo all rights reserved</p>
    </main>
        <!-- FOOTER -->
        <%- include('../partials/footer') %>
  </body>
</html>