<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/5bbec2626f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Login | CeroTempo</title>
  </head>
  <body>
    <header class="main-header" id="headerpush">
        <nav class="header-nav">
            <div class="header-nav-intro">
                <i class="fa-solid fa-bars"></i>
                <a href="/">
                    <img src="/images/logo.png" alt="logo" class="header-logo">
                </a>
                <div class="header-search-desktop">
                    <input type="text" placeholder="What are you looking for?">              
                    <button class="header-search-btn">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>  
                </div>
                <div class="header-icons">                        
                    <span>
                        <a href="#contactUs">
                            <p>Help</p>
                        </a>                        
                        <i class="fa-brands fa-whatsapp"></i>
                    </span>
                    <span>
                        <a href="productCart">
                            <p>Shopping Cart</p>
                        </a>
                        <i class="fa-solid fa-cart-shopping"></i>
                    </span>
                    <span>
                        <a href="register">
                            <p>Account</p>
                        </a>
                        <i class="fa-solid fa-user"></i>
                    </span>
                </div>
            </div>
            <!-- MENU -->
            <nav class="nav-menu">
                <ul class="menu-horizontal">
                    <li><a href="/">Home</a></li>
                    <li><a href="#aboutUs">About us</a></li>
                    <li>
                        <a href="#">Products</a>
                        <ul class="menu-vertical">
                            <li><a href="productDetail">Guitars</a></li>
                            <li><a href="productDetail">Basses</a></li>
                            <li><a href="productDetail">Pianos</a></li>
                            <li><a href="productDetail">Keyboards</a></li>
                            <li><a href="productDetail">Drums</a></li>
                            <li><a href="productDetail">Violins</a></li>
                            <li><a href="productDetail">Cellos</a></li>
                            <li><a href="productDetail">Violas</a></li>
                            <li><a href="productDetail">Electronics</a></li>
                            <li><a href="productDetail">Cables</a></li>
                            <li><a href="productDetail">Others</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Courses</a>
                        <ul class="menu-vertical">
                            <li><a href="courses">Guitar lessons</a></li>
                            <li><a href="courses">Violin lessons</a></li>
                            <li><a href="courses">Cello lessons</a></li>
                            <li><a href="courses">Piano lessons</a></li>
                        </ul>
                    </li>
                    <li><a href="luthiers">Luthier</a></li>
                    <li><a href="#contactUs">Contact</a></li>
                </ul>
            </nav>
                            
            <div class="header-search">
                <input type="text" placeholder="What are you looking for?" autofocus> 
                <button class="header-search-btn">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>            
            </div>
        </nav>
    </header>
    <main class="l__main">
      <h1>¡hola de nuevo!</h1>
      <div>
        <h2>email</h2>
        <div class="l__main__credentials">
          <input class="l__main__credentials__imput" type="text" placeholder="Ingrese su email" />
        </div>
      </div>
      <div>
        <h2>contraseña</h2>
        <div class="l__main__credentials">
            <input class="l__main__credentials__imput" type="text" placeholder="Ingrese su contraseña" />
        </div>
      </div>
      <button class="l__main__login">iniciar sesion</button>
      <nav class="l__main__options">
        <ul>
          <li class="l__main__options__link"><a href="">no recuerdo mi contraseña</a></li>
          <li class="l__main__options__link"><a href="">crear cuenta</a></li>
        </ul>
      </l__nav>
      <p class="l__main__copyright">CeroTempo all rights reserved</p>
    </main>
        <!-- FOOTER -->
        <footer>
            <section class="main-footer">
                <article class="footer-phrase">
                    <p>
                        "Always go forward, never go backwards"
                    </p>
                </article>
                <article class="footer-info">
                    <h2>Info</h2>
                    <ul class="info-li">
                        <li>
                            <a href="#aboutUs">About</a>
                        </li>
                        <li>
                            <a href="www.google.com">Wholesalers</a>
                        </li>
                        <li>
                            <a href="https://www.google.com/maps/search/telecom/@-34.6155012,-58.433642,12z/data=!3m1!4b1">Branch Offices</a>
                        </li>
                        <li>
                            <a href="#">Frequent Questions</a>
                        </li>
                        <li>
                            <a href="#contactUs">Contact</a>
                        </li>
                    </ul>
                </article>
                <article class="footer-contact">
                    <h2>Contact</h2>
                    <ul class="contact-li">
                        <li>
                            <a href="#">119815213664</a>
                        </li>
                        <li>
                            <a href="https://www.google.com/maps/place/Telecom/@-34.6100053,-58.5931134,12z/data=!4m9!1m2!2m1!1stelecom!3m5!1s0x95bcca02cebf962d:0x3017c344505b62d5!8m2!3d-34.6100113!4d-58.4612683!15sCgd0ZWxlY29tIgOIAQGSASN0ZWxlY29tbXVuaWNhdGlvbnNfc2VydmljZV9wcm92aWRlcg">Office center</a>
                        </li>
                        <li>
                            <a href="www.gmail.com">cerotempo@gmail.com</a>
                        </li>
                        <li>
                            <a href="https://www.google.com/maps/place/Telecom/@-34.6100053,-58.5931134,12z/data=!4m9!1m2!2m1!1stelecom!3m5!1s0x95bcca02cebf962d:0x3017c344505b62d5!8m2!3d-34.6100113!4d-58.4612683!15sCgd0ZWxlY29tIgOIAQGSASN0ZWxlY29tbXVuaWNhdGlvbnNfc2VydmljZV9wcm92aWRlcg">Location</a>
                        </li>
                        <li>
                            <a href="www.facebook.com">Facebook</a>
                        </li>
                    </ul>
                </article>
            </section>
            <p id="copyright"> Copyright © 2022 All Rights Reserved by CeroTempo</p>
        </footer>
  </body>
</html>