<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %> 
<body>
    <%- include('../partials/header') %> 
    <main class="main-admin">
        <h2>Edit Product</h2>
        <section class="main-form-create">
            <form class="admin-form" action="">
                <div class="left-container">       
                    <div class="admin-box">
                        <label for="productName">Product Title</label>
                        <input type="text" name="productName" id="">
                        <span class="validation-text" hidden>Required Field</span>                
                    </div>                
                    <div class="admin-box">
                        <label for="price">Price</label>
                        <input type="number" name="price" id="">
                        <span class="validation-text" hidden>Required Field</span>
                    </div>
                    <div class="admin-box">                    
                        <label for="discount">Discount</label>
                        <input type="number" name="discount" id="">
                        <span class="validation-text" hidden>Required Field</span>            
                    </div>
                    <div class="admin-box box-description">
                        <label for="productDescription">Description</label>
                        <textarea name="productDescription" id="text-description" cols="30" rows="3" style="resize: none;"></textarea>                        
                        <span class="validation-text" hidden>Required Field</span>
                    </div>
                </div>
                <div class="right-container">
                    <div class="img-create-preview">
                        <h2>PREVIEW</h2>
                        <img src="/images/instrumentos/Cello/01/069.jpg" alt="">
                    </div>
                    <div class="into-admin-box">
                        <div class="admin-box add-img">
                            <label for="addImage">ADD IMAGE</label>
                            <input type="file" name="addImage" id="imageProduct">
                            <span class="validation-text" hidden>Required Field</span>
                        </div>   
                        <div class="admin-box">
                            <label for="categories">Category</label>
                            <select name="categories" id="category-select">
                                <option value="">...</option>
                                <option value="">Strings</option>
                                <option value="">Wind</option>
                                <option value="">Percussion</option>
                                <option value="">Idiophones</option>
                                <option value="">Electronics</option>
                            </select>
                            <span class="validation-text" hidden>Required Field</span>
                        </div>  
                    </div>
                </div>
            </form>        
        </section>
        <%- include('../partials/footer') %> 
    </main>
</body>
</html>